.countries {
  /* background-color: rgb(192, 74, 14); */
  background-color: rgb(11, 90, 0);
  padding: .4rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.countries thead {
  background-color: rgb(155, 52, 0);
}

.countries thead td {
  padding: 5px;
}

.countries tbody {
  background-color: rgb(192, 74, 14);
}

.countries tr td {
  margin: 2px;
  padding: 7px;
  min-width: 5rem;
}
