.App {
  padding-top: 1rem;
  text-align: center;
  height: 100%;
  background-color: rgb(221, 115, 61);
}

.App form {
  padding: 1rem;
  margin-bottom: 1rem;
}

.formError {
  background-color: rgb(255, 56, 56);
  width: fit-content;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

.App form label {
  font-size: small;
}

.App form search input {
  margin-top: 1rem;
  margin-right: .5rem;
}
